@import "./src/vars";

:host {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(clamp(1.4vmin, calc(3vmin - 1.5vh), 2rem) * 2);
}

fieldset {
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $page-bg-dark inset;
  -webkit-text-fill-color: $text-dark-smooth;
}

input {
  box-sizing: border-box;
  width: auto;
  margin: calc(#{$baseline} * 1.5);
  font-family: $serif;
}

span,
input {
  border: 2px solid rgba(201, 206, 189, 0.5);
  font-size: calc(#{$base-font-size} * 1.3);
  padding: 0.25em 0.65em;
  color: rgba(201, 206, 189, 0.5);
  border-radius: 2em;
  background: transparent;
  transition: all 0.1s;
  text-align: center;
  font-family: $big-serif;

  &:focus {
    outline: none;
    color: $text-dark;
    border-color: rgba(201, 206, 189, 0.75);
  }
}

.warning {
  font-size: $base-font-size;
  font-family: $serif;
  color: #d9cb1d;
}

fa-icon {
  font-size: calc(#{$base-font-size} * 1.3);
}
