<div #book class="cover">
  <div class="book">
    <div class="book-page first">
      <img
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/da0c2745002947.58248e8604fa2.jpg"
        alt="Astronaut"
      />
    </div>
    <div class="book-page fourth">
      <div class="page-content">
        <h1 class="page-content-book-title">Rozdział 1</h1>
        <span *ngIf="router.url === '/'" class="page-content-text">
          Dołącz do wspaniałego świata niezbadanych zakątków, historii i wydań.
          Lorem ipsum hepsum muchachos kotos notis Lorem ipsum hepsum muchachos
          kotos notis, Lorem ipsum hepsum muchachos kotos notis, Lorem ipsum
          hepsum muchach Lorem ipsum hepsum muchachos kotos notis, Lorem ipsum
          hepsum muchachos kotos notis, Lorem ipsum hepsum muchach Lorem ipsum
          hepsum muchachos kotos notisLorem ipsum hepsum muchachos kotos
          notisLorem ipsum hepsum muchachos k Dołącz do wspaniałego świata
          niezbadanych zakątków, historii i wydań. Lorem ipsum hepsum muchachos
          kotos notis Lorem ipsum hepsum muchachos kotos notisLorem ipsum hepsum
          muchachos kotos notisLorem ipsum hepsum muchachos k
        </span>
        <blockquote
          *ngIf="router.url === '/'"
          class="page-content-blockquote-text"
        >
          Najlepsza stronka ever, serio, serio. Że ja Cię kręcę, taki wyczes, że
          nic nie działa.
        </blockquote>
        <blockquote
          *ngIf="router.url === '/'"
          class="page-content-blockquote-reference"
        >
          - Paulo Cohello
        </blockquote>
        <router-outlet></router-outlet>
      </div>
      <div class="page-number">4</div>
    </div>
    <div
      class="book-page second-third"
      [ngClass]="{ 'book-page-turned': pageTurned === 'forward' }"
    >
      <div (click)="turnThePage('forward')" class="book-page-front">
        <div class="page-content">
          <h1 class="page-content-book-title">Czytadło</h1>
          <h2 class="page-content-author">Oskar Mikus</h2>
          <p class="page-content-credits">
            Jedynym sposobem pozbycia się pokusy jest uleganie jej.
            <span>Oscar Wilde</span>
          </p>
          <p class="page-content-credits engagement">
            Naciśnij
            <span>Aby przewrócić stronę</span>
          </p>
          <div class="page-content-copyright">
            <p>Łódź, MMXXI</p>
          </div>
        </div>
      </div>
      <div (click)="pageTurned = 'backward'" class="book-page-back">
        <div class="btn-group">
          <div class="lembook-login">
            <a
              (click)="blockPageTurn()"
              routerLink="/login"
              routerLinkActive="active"
              >Zaloguj z Lembook</a
            >
            <p>
              Nie masz konta?
              <a
                (click)="blockPageTurn()"
                routerLink="/register"
                routerLinkActive="active"
                >Zarejestruj się!</a
              >
            </p>
          </div>
          <div class="divider">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <button type="submit" class="google">Zaloguj z Google</button>
          <button type="submit" class="apple">Zaloguj z Apple</button>
          <button type="submit" class="facebook">Zaloguj z Facebook</button>
          <button type="submit" class="github">Zaloguj z Github</button>
        </div>
        <div class="page-number">3</div>
      </div>
    </div>
  </div>
</div>
