<header>
  <nav>
    <a [routerLink]="['discover']" class="logo-title">Lembook</a>
    <div class="inner-nav">
      <div [routerLink]="['discover']" class="nav-item">
        <span class="dot" routerLinkActive="dot-visible"></span>
        <a class="nav-link">Odkrywaj</a>
        <img
          src="assets/icons/telescope.svg"
          alt="Search icon"
          class="nav-icon"
        />
      </div>
      <div [routerLink]="['my-shelf']" class="nav-item">
        <span class="dot" routerLinkActive="dot-visible"></span>
        <a class="nav-link">Moja półka</a>
        <img
          src="../../../assets/icons/books-dark.svg"
          alt="My collection icon"
          class="nav-icon"
        />
      </div>
    </div>
    <button
      mat-icon-button
      [color]="'warn'"
      aria-label="Log out button"
      class="log-out-container"
    >
      <img
        src="assets/icons/power-red.svg"
        alt="Log out power button"
        class="log-out-button"
      />
    </button>
  </nav>
</header>
<router-outlet></router-outlet>
