<section>
  <div class="section-name">{{ sectionName }}</div>
  <div class="card-container">
    <ng-container *ngIf="books">
      <ng-container *ngIf="books.length !== 0">
        <article class="card" *ngFor="let book of books">
          <div class="image-container">
            <img [src]="getCoverURL(book.cover!)" alt="book's photo" />
          </div>
          <header class="card-header">
            <p class="author">{{ book.authors?.[0] }}</p>
            <p class="title">{{ book.title }}</p>
            <p class="genre">{{ book.genres?.[0] }}</p>
            <div class="actions">
              <button mat-icon-button class="read">
                <fa-icon class="icon" [icon]="bookIcon"></fa-icon>
              </button>
              <button mat-icon-button class="like">
                <fa-icon class="icon" [icon]="heartIcon"></fa-icon>
              </button>
              <button mat-icon-button class="dislike">
                <fa-icon class="icon" [icon]="bombIcon"></fa-icon>
              </button>
            </div>
          </header>
        </article>
      </ng-container>
      <ng-container *ngIf="books.length === 0">
        <p class="template-text">{{ templateText }}</p>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!books">
      <article class="card card-empty" *ngFor="let card of loadingCards">
        <div class="image-container-empty">
          <div class="empty-img"></div>
        </div>
        <header class="card-header">
          <p class="author author-empty">Lembook</p>
          <p class="title title-empty">Lembook</p>
          <p class="genre genre-empty">Lembook</p>
          <div class="actions">
            <button disabled mat-icon-button class="read">
              <fa-icon class="icon" [icon]="bookIcon"></fa-icon>
            </button>
            <button disabled mat-icon-button class="like">
              <fa-icon class="icon" [icon]="heartIcon"></fa-icon>
            </button>
            <button disabled mat-icon-button class="dislike">
              <fa-icon class="icon" [icon]="bombIcon"></fa-icon>
            </button>
          </div>
        </header>
      </article>
    </ng-container>
  </div>
</section>
