@import "src/vars";

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: calc(#{$baseline} * 2.1);
  height: calc(#{$baseline} * 2.1);
}

.lds-ellipsis div {
  position: absolute;
  width: calc(#{$baseline} * 0.7);
  height: calc(#{$baseline} * 0.7);
  border-radius: 50%;
  background: $arctic-blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);

  &:nth-child(1) {
    left: 0;
    animation: lds-ellipsis1 0.6s infinite;
  }

  &:nth-child(2) {
    left: 0;
    animation: lds-ellipsis2 0.6s infinite;
  }

  &:nth-child(3) {
    left: 24px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  &:nth-child(4) {
    left: 48px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
