@import "vars";
@import url("https://fonts.googleapis.com/css?family=Cormorant|Lato|Oooh+Baby&display=swap");

html {
  background: $bg-dark;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
