/* Colours */
// Light mode
$bg-light: #FAFAFA;
$text-light: #2A2935;
$text-light-smooth: #19191D;


// Dark mode
$bg-dark: #181D27;
$text-dark: #C9CEBD;
$text-dark-smooth: #C9CEBD;


/* Text */
$baseline: 14px;
$base-font-size: $baseline * 1.2;
