/* Internal */
$__min: 1.4vmin;
$__preferred: calc(3vmin - 1.5vh);
$__max: 2rem;

/* Colours */
// Light mode
$bg-light: #FAFAFA;
$text-light: #2A2935;
$text-light-smooth: #19191D;


// Dark mode
$bg-dark: #181D27;
$text-dark: #C9CEBD;
$text-dark-smooth: #C9CEBD;

$arctic-blue: #87C0D0;


/* Text */
$baseline: clamp(#{$__min}, #{$__preferred}, #{$__max});
@supports not ($baseline: clamp(#{$__min}, #{$__preferred}, #{$__max})) {
  $baseline: min(max(#{$__preferred}, #{$__min}), #{$__max});
}

$base-font-size: calc(#{$baseline} * 1.2);
